//-----------------------------------------------------
// Genaral typo
//-----------------------------------------------------
html {
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a,ul, li {
	text-decoration: none;
}
h1,h2,h3,h4,h5, {
	font-family: Merriweather,serif;
}
p {
	font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

//-----------------------------------------------------
// Main page
//-----------------------------------------------------
.container {
	padding: 10px;
	@include for-desktop-up {
		padding: 20px;
	}
	max-width: 1200px;
	margin:0 auto;
}
.container::after {
  clear: both;
  content: "";
  display: block;
}


.full-header {
	@include for-desktop-up {
		padding: 100px;
	}
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	h1 {
		padding: 1em;
		font-size: 55px;
		// font-family: Merriweather,serif;
		font-weight: 400;
		color: #4a4a4a;
		text-align: center;
		text-transform: capitalize;
	}
	h3 {
		font-size: 20px;
		line-height: 30px;
		margin-top: 20px;
		font-family: Lato,serif;
		color: #4a4a4a;
		font-weight: 400;
		width: 100%;
		margin: 20px auto 0;
		max-width: 500px;
	}
	.header-center {
		height: auto;
		position: relative;
		text-align: center;
		display: inline-block;
		margin-top: 0;
		max-width: 100%;
		width: 1175px;
		z-index: 2;
	}
	.header-center-inner {
		max-width: 700px;
		text-align: center;
		margin: 0 auto;

	}
}
//-----------------------------------------------------
// hero unit exmaple https://codetheweb.blog/2017/12/07/fullscreen-image-hero/
//-----------------------------------------------------
// .hero {
// 	/* Sizing */
// 	width: 100vw;
// 	height: 100vh;

// 	/* Flexbox stuff */
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	/* Text styles */
// 	text-align: center;
// 	h1 {
// 		@include for-desktop-up {
// 			font-size: 5em;
// 		}
// 		/* Text styles */
// 		font-family: Merriweather,serif;
// 		font-weight: 400;
// 		color: white; /* ADD THIS LINE */
// 		font-size: 2em;
// 		/* Margins */
// 		margin-top: 0;
// 		margin-bottom: 0.5em;
// 	}
// 	a {color: white;}
// 	h2 {color: white;}
// 	/* Background styles */
// 	// background: url('../images/tools.jpg') 50% no-repeat;
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/fresh.jpg);
// 	background-size: cover;
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-attachment: fixed;
// 	width: 100%;
// }

.hero .btn {
	/* Positioning and sizing */
	display: block;
	width: 200px;
}

// blockquotes
.quotation {
	@include for-desktop-up {
	font-size: 30px;
}
	//margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
	line-height: 1.4;
}

.quotation:before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -10px;
	position: relative;
	top: 30px;
	color: #ccc;
	font-size: 3em;

}
.quotation::after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: 10px;
	position: relative;
	top: 35px;
	color: #ccc;
	font-size: 3em;
	
}
span {
	@include for-desktop-up {
		font-size: 1.5em;		
	}
	margin:0;
	text-align: right;
	font-style: italic;
}/////////////////////////////////////////////////////
	
.hero-image {
  // background: url('../images/tools.jpg') 50% no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/fresh.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
	h1 {
		@include for-desktop-up {
			font-size: 5em;
		}
		/* Text styles */
		font-family: Merriweather,serif;
		font-weight: 400;
		color: white; /* ADD THIS LINE */
		font-size: 2em;
		/* Margins */
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	a {color: white;}
	h2 {color: white;}

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  /*outline: 0;*/
  display: inline-block;
  /*padding: 10px 25px;*/
  /*color: black;*/
  /*background-color: #ddd;*/
  text-align: center;
  cursor: pointer;
	
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
//-----------------------------------------------------
// Section about 
//-----------------------------------------------------
.wrapper {
	@include for-desktop-up {
		padding: 50px;
	}
	aside {
		@include for-desktop-up {
			width: 33.33%;
		}
		img {max-width: 300px;}

		float: left;

		padding: 10px;
		height: 300px;
	}
	article {
		float: left;
		@include for-desktop-up {
			width: 50.33%;
			margin-left: 4em;
		}
		p {
			letter-spacing: .01rem;
			font-weight: 400;
			font-style: normal;
			font-size: 21px;
			line-height: 1.58;
			letter-spacing: -.003em;
		}
	}
}

// section info

/* Create three equal columns that floats next to each other */
.column {
	text-align: center;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

// footer
.footer {
	padding:1em;
	background: lightskyblue;	
}
.footer-info {
	float: right;
}
//-----------------------------------------------------
//  About page 
//-----------------------------------------------------
.info_page {
	h2 {
	    text-align: center;
	    padding-top: 10px;
	}
    
}

//////////////////////////
/* Container holding the image and the text */



.hero-section {
  background: url('../images/tools.jpg') 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
