
<div class="footer">
	<div class="container">
		<div class="logo-footer">
			<% link_to '/index.html', :relative => true do %>
				<%= image_tag 'h-logo.png' %>
			 <% end -%>
		</div>

		<br>

		<div class="footer-info">
			<a href="mailto:hedgeapplianceservice@gmail.com">
				hedgeapplianceservice@gmail.com
			</a>
		</div>
	</div>
</div>



