<!-- <div class="container">
	<div class="social-footer">
		<ul>
			<li>
				<i class="fas fa-truck"></i>
		KAMILA & DAVID HEGDE OWNER / TECHNICIAN
		HIDDEN VALLEY LAKE, CA
		707 809 7424
		hedgeapplianceservice@gmail.com
			</li>
		</ul>
	</div>
</div> -->