<!-- 
<nav>
	<div class="container">
		<ul class="nav-items">
			<li>
				<a href="tel:7078097424"><i class="fa fa-phone-square fa-2x"></i> <span>707 809 7424</span></a>
			</li>
	</ul>
</div>
</nav> -->
 <nav>
  <div class="toggle menu">&#9776;</div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
