
<nav>
	<button class="cta">
		<a href="tel:7078097424">
			<i class="fa fa-phone-square"></i> 
			<span>707 809 7424</span>
		</a>
	</button>
	<div class="container">
		<ul>

			<li><a href="#">Home</a></li>

			<li><a href="#">About</a></li>

			<li><a href="#">Contact</a></li>
		</li>
	</ul>
</div>
</nav>
 