---
title: hedgeapplianceservice | about
---
<div class="container">
	<h2 style="text-align: center;">WHO WE ARE</h2>
	<hr>
</div>

<div class="container">
	<div class="team_image">
		<%= image_tag 'team.jpg' %>
	</div>
	<div class="info_page">
		<h2>A LITTLE BIT OF HISTORY</h2>
		<p>
			We are both sad that I will be leaving our family at St Helena Appliance and can't thank Tom and Carol enough for everything they have done for us, i.e. bought all my tools, paid for all of my training, provided a great work environment, and not to mention they took us in during the Valley Fire... We love you both for all you have done for us!!!
		</p>
		<p>

			We are excited to start this new journey and hope we can be here full time so I no longer have to commute over the mountain, we can spend more time together, and last but certainly not least provide a great service for our freinds and neighbors in Lake County.
		</p>
		<p>
			For the past 4 months we have been getting our licensing for all of lake county, a service van, and establishing accounts for both commercial and residential parts. I have also been working 4-10's in the Napa Valley while doing service work here in Lake County on Fridays and Saturdays in hopes of establishing a customer base and some word of mouth refrences.
		</p>
		<p>
			I have 2+ years experience as an installer, 2 years as a parts manager, and almost 9 years as a technician (which I have had the luxury of learning from two senior technicians who go back as far as Montgomery Wards). I have worked on more brands of residential and commercial appliances than most people have seen or even heard of.
		</p>
		<p>
			We plan to continue doing service calls on Fridays and Saturdays, and the occasional weekday evening emergency call if I get back over the mountain in time, and hopefully within the next few months we can start serving all of Lake County FULL TIME! Until then, we hope you will call us and give us a chance to earn your trust for all your appliance repair needs and hopefully earn your future recommendations.
		</p>
	</div>
</div>