<div class="container">
	<div class="row">
		<div class="column"><%= image_tag 'truck.jpg' %></div>
		<div class="column">
			<p>
				After nearly 13 years in the appliance industry, 2 with Lake Appliance in Middletown and almost 11 with St. Helena Appliance, my beautiful wife Kamila Nahinu Hedge and I decided in March to start the process of opening our own appliance service company in Lake County!
				<%= link_to 'READ MORE ...', '/about.html', :relative => true %>
			</p>
		</div>
	</div>	
	<br>
</div>
