<!-- <div class="hero1">
	 <%= image_tag 'tools.jpg' %>
  
  <div class="centered">Centered</div>
</div>
 --><div class="hero-image">
  <div class="hero-text">
    <h1>HEDGE APPLIANCE SERVICE</h1>
		<h2>We repair most brands and every type of major appliance</h2>
    <button>
    	<a href="tel:7078097424">
    		<i class="fa fa-phone-square fa-2x"></i>
    		 <span>707 809 7424</span>
    		</a>
    	</button>
  </div>
</div>
