---
title: hedgeapplianceservice
---
<section class="hero">
	<div class="hero-inner">
		<h1>HEDGE APPLIANCE SERVICE</h1>
		<h2>We repair most brands and every type of major appliance</h2>
		<button>
			<a href="tel:7078097424"><i class="fa fa-phone-square fa-2x"></i> <span>707 809 7424</span></a>
		</button>
	</div>
</section>

<!-- end of hero image -->
<div class="container">
	<div class="full-header">
		<div class="header-center">
			<div class="header-center-inner">
				<blockquote>
					<p class="quotation"> 
						Booking an appointment was very easy. Kamila is friendly and efficient.
						David is extremely knowledgeable and experienced, honest, reliable and dependable. David has my business and I highly recommend Hedge appliances
					</p>
					<span>— Faylen Silva</span>
				</blockquote> 
			</div>

			<!-- <%= image_tag 'fancycrave-520426-unsplash.jpg' %> -->
		</div>
	</div><!-- end of full-header -->

	<div class="row">
		<div class="column">
			<a href="mailto:hedgeapplianceservice@gmail.com">
				<i class="fas fa-envelope fa-7x"></i>
				<br>
				hedgeapplianceservice@gmail.com
			</a>
		</div>

		<div class="column">
			<a href="#">
				<i class="fas fa-screwdriver fa-7x"></i>
				<br>
				We repair most brands and every type of major appliance
			</a>
		</div>
		<div class="column">
			<% link_to 'https://www.facebook.com/Hedge-Appliance-Service-555154134884870/?hc_ref=ARQOrh6py5hW4mWlmFMroLA1vpo23FwU6Q_5_oOCenvhw2h-23GOqKn0MCegk_Grrf8', target: "blank?" do %>
			<i class="fab fa-facebook-square fa-7x"></i>
			<br>
			like Us!
			<% end %>
		</div>

	</div><!-- end of row -->
	
</div>