---
title: hedgeapplianceservice
---
<section class="hero">
	<div class="hero-inner">
		<h1>HEDGE APPLIANCE SERVICE</h1>
		<h2>We repair most brands and every type of major appliance</h2>
		<button>
			<a href="tel:7078097424"><i class="fa fa-phone-square fa-2x"></i> <span>707 809 7424</span></a>
		</button>
	</div>
</section><!-- end of hero image -->

<div class="container">
	<section class="wrapper">
		<aside>
			<%= image_tag 'truck.jpg' %>
		</aside>
		<article>
			<p>
				After nearly 13 years in the appliance industry, 2 with Lake Appliance in Middletown and almost 11 with St. Helena Appliance, my beautiful wife Kamila Nahinu Hedge and I decided in March to start the process of opening our own appliance service company in Lake County!
				<%= link_to 'READ MORE ...', '/about.html', :relative => true %>
			</p>
		</article>
	</section>
</div>


<div class="container">
	<div class="full-header">
		<div class="header-center">
			<div class="header-center-inner">
				<blockquote>
					<p class="quotation"> 
						Booking an appointment was very easy. Kamila is friendly and efficient.
						David is extremely knowledgeable and experienced, honest, reliable and dependable. David has my business and I highly recommend Hedge appliances
					</p>
					<span>— Gena Obaza</span>
				</blockquote> 
			</div>
		</div>
	</div><!-- end of full-header -->

	<div class="row">
		<hr>
		<div class="column">
			<a href="mailto:hedgeapplianceservice@gmail.com">
				<i class="fas fa-envelope fa-7x"></i>
				<br>
				hedgeapplianceservice@gmail.com
			</a>
		</div>

		<div class="column">


			<% link_to 'https://www.google.com/maps/place/19414+Mountain+Meadow+S,+Hidden+Valley+Lake,+CA+95467/data=!4m2!3m1!1s0x8084701dec40d389:0x61fc6d5d1a28dfd5?sa=X&ved=2ahUKEwiKt-n4_rrcAhUGwYMKHZ_TCK4Q8gEwAHoECAUQAQ', target: "blank?" do %>
			<i class="fas fa-globe-americas fa-7x"></i>
			<br>			
				19414 MOUNTAIN MEADOW SOUTH
				Hidden Valley Lake, California 95467
			<% end %>
		</div>
		<div class="column">
			<% link_to 'https://www.facebook.com/Hedge-Appliance-Service-555154134884870/?hc_ref=ARQOrh6py5hW4mWlmFMroLA1vpo23FwU6Q_5_oOCenvhw2h-23GOqKn0MCegk_Grrf8', target: "blank?" do %>
			<i class="fab fa-facebook-square fa-7x"></i>
			<br>
			like Us!
			<% end %>
		</div>

	</div><!-- end of row -->

</div>


