---
title: hedgeapplianceservice
---
 

<div class="hero-image">
	<div class="hero-text">
		<h1>testing dns</h1>
		<h1>Servicing Commercial and Residentail Appliances for all of Lake County</h1>
		<h2>We repair most brands and every type of major appliance</h2>
		<button>
			<a href="tel:7078097424">
				<i class="fa fa-phone-square fa-2x"></i>
				<span>707 809 7424</span>
			</a>
		</button>
	</div>
</div><!-- end of hero image -->


<div class="container">
	<!-- Slideshow container -->
	<div class="slideshow-container">

		<!-- Full-width slides/quotes -->
		<div class="mySlides">
			<q>
			David saved the day! Our fridge slowly started losing its cool. I messaged him to find out if it was fixable or not and he responded quickly, booked our appointment after hours to accommodate our work schedules and made the repair in no time. Affordable, friendly service by a local, knowledgeable expert! I highly recommend Hedge Appliance!
		</q>
			<p class="author">- Faylen Silva</p>
		</div>

		<div class="mySlides">
			<q>Booking an appointment was very easy. Kamila is friendly and efficient. David has worked on several of our appliances, commercial fridge, refrigerated prep table, ice machine, stove, and hood. He’s also helped with our Appliances at home. He’s helped worked on our Refrigerator, washer and dryer, and hood. He is extremely knowledgeable and experienced, honest, reliable and dependable. David has my business and I highly recommend Hedge appliances.</q>
			<p class="author">- Gena Obaza</p>
		</div>

		<div class="mySlides">
			<q>
				Had our washer break down on us, and Dave was at our house in no time to check it out. Parts were ordered and installed in a matter of a couple of days. Efficient, professional and definitely our go-to for any future appliance issues. Thank you Hedge Appliance Service!
			</q>
			<p class="author">- Narissa Gardner</p>
		</div>

		<!-- Next/prev buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>

	<!-- Dots/bullets/indicators -->
	<div class="dot-container">
		<span class="dot" onclick="currentSlide(1)"></span> 
		<span class="dot" onclick="currentSlide(2)"></span> 
		<span class="dot" onclick="currentSlide(3)"></span> 
	</div>
</div> <!-- end of slide quotes -->

<div class="container">
	<div class="review">
		<% link_to 'https://www.facebook.com/pg/Hedge-Appliance-Service-555154134884870/reviews/', target: "blank?" do %>
			<i class="far fa-star"></i>
			<i class="far fa-star"></i>
			<i class="far fa-star"></i>
			<i class="far fa-star"></i>
			<i class="far fa-star"></i>
			Add  a Review!
			<% end %>
	</div>
</div>


<div class="container">
	<div class="group">
		<div class="left">
			<%= image_tag 'truck.jpg' %>
		</div>
		<div class="right">
			<p>
				We are  a husband/wife combo small business with ties to the local community. We are focused solely on serving Lake County's residential and commercial appliances.
			</p>
			<p>
				David has over 12 years in the appliance repair industry and Kamila over 20 years in the customer service industry. We hope to give you the best service possible and leave a lasting impression that will earn your future business as well as your recommendation.
			</p>
			<p>
				Kamila and David Hedge.

			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<hr>
		<div class="column">
			<a href="mailto:hedgeapplianceservice@gmail.com">
				<i class="fas fa-envelope fa-7x"></i>
				<br>
				hedgeapplianceservice@gmail.com
			</a>
		</div>

		<div class="column">
			<a href="tel:7078097424">
				<i class="fa fa-phone-square fa-7x"></i>
				<br>
				<span>707 809 7424</span>
			</a>
		</div>
		<div class="column">
			<% link_to 'https://www.facebook.com/Hedge-Appliance-Service-555154134884870/?hc_ref=ARQOrh6py5hW4mWlmFMroLA1vpo23FwU6Q_5_oOCenvhw2h-23GOqKn0MCegk_Grrf8', target: "blank?" do %>
			<i class="fab fa-facebook-square fa-7x"></i>
			<br>
			LIKE US ON FACEBOOK!!
			<% end %>
		</div>
	</div><!-- end of row -->
</div>




