---
title: hedgeapplianceservice
---
<section class="hero">
	<div class="hero-inner">
		<h1>HEDGE APPLIANCE SERVICE</h1>
		<h2>We repair most brands and every type of major appliance</h2>
		<button>
			<a href="tel:7078097424"><i class="fa fa-phone-square"></i> <span>707 809 7424</span></a>
		</button>
	</div>
</section>
<!-- end of hero image -->
<div class="container">
	<div class="full-header">
		<div class="header-center">
			<div class="header-center-inner">
				<blockquote>
					<p class="quotation"> 
						David saved the day! Our fridge slowly started loosing its cool. I messaged him to find out if it was fixable or not and he responded quickly.
					</p>
					<span>— Faylen Silva</span>
				</blockquote> 
			</div>

			<!-- <%= image_tag 'fancycrave-520426-unsplash.jpg' %> -->
		</div>
	</div><!-- end of full-header -->

	<div class="row">
		<div class="column"><i class="fas fa-truck fa-7x"></i></div>
		<div class="column"><i class="fas fa-screwdriver fa-7x"></i></div>
		<div class="column"><i class="fas fa-truck fa-7x"></i></div>
	</div>
</div>