<div class="container">
	<div class="rate">
		<h2 style="text-align: center;">RATES</h2>
		<hr>
		<table>
			<tr>
				<td>Service Call Fee (includes Trip Charge, Diagnosis, and Estimate for Repair)</td>
				<td>$80.00</td>
			</tr>
			<tr>
				<td>2nd Appliance Fee (includes Diagnosis and Estimate for Repair) </td>
				<td>$25.00</td>
			</tr>
			<tr>
				<td>Flat Rate Labor Charges (Based Per Job, Not hourly rate)</td>
				<td>T.B.D at Time of Service</td>
			</tr>
			<tr>
				<td>Flat Rate Shipping Fee on Parts (Not Considered Oversized)  </td>
				<td>$9.99</td>
			</tr>
			<tr>
				<td>Oversized Shipping</td>
				<td>$ T.B.D. at Time of Estimate</td>
			</tr>
		</table>

		<strong>NOTE:</strong>
		<strong>
			<em>
				We do not charge an additional Service Call Fee for the return visit with ordered parts to complete repair, we only charge for parts and our flat rate labor. Service Call Fee is a one time charge. Service Call Fee also covers any return visits covered under our 30 Day Labor Warranty, and if any unrelated issues need to be fixed we only charge parts and our flat rate labor.
			</em>
		</strong>
	</div>
	<br>
	<h2 style="text-align: center;">APPLIANCES WE SERVICE</h2>
	<h3 style="text-align: center;">Residential/ Commercial</h3>
	<hr>
	<div class="left-half">
		<ul style="list-style-type:circle">
			<li>Washers</li>
			<li>Dryers</li>
			<li>Dishwashers</li>
			<li>Gas Stoves/ Wall Ovens/ Cooktops</li>
			<li>Electric Stoves/ Wall Ovens/ Cooktops</li>
			<li>Garbage Disposals</li>
			<li>Trash Compactors</li>
			<li>Wine Refrigerators</li>
			<li>Wine Cellars (LIMITED to units under 5lbs of refrigerant per EPA Certification)</li>
			<li>
				Walk in Refrigerator/Freezers (LIMITED to units under 5lbs of refrigerant per EPA certification)
			</li>
			<li>Freestanding Refrigerators</li>
			<li>Freezers </li>
			<li>Built in Refrigerators</li>
			<li>Window A/C</li>
			<li>
				Central A/C and Heat Pumps (LIMITED to units under 5lbs of refrigerant per EPA Certification)
			</li>
		</ul>
	</div>

	<div class="right-half">
		<ul style="list-style-type:circle">
			<li>Gas Furnace</li>
			<li>Wall Heaters</li>
			<li>Hot Water Heaters (Gas and Electric)</li>
			<li>On Demand Hot Water Heaters</li>
			<li>Freestanding BBQ's</li>
			<li>Built in BBQ's</li>
			<li>Gas Pizza Ovens</li>
			<li>Swamp Coolers</li>
			<li>Microwaves</li>
			<li>Microwave Hoods</li>
			<li>Microwave/ Wall Oven Combos</li>
			<li>Range Hoods</li>
			<li>Downdrafts</li>
			<li>Icemakers ( LIMITED to units under 5lbs of refrigerant per EPA certification )</li>
		</ul>
	</div>
</div>